<?xml version="1.0" encoding="UTF-8"?>
<configuration
	scan="true"
	scanPeriod="10 seconds">

	<appender
		name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<root>
		<appender-ref ref="stdout" />
		<level value="all" />
	</root>
</configuration>
